.hover {
    &:hover {
        cursor: pointer;
    }
}

.center {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.text-center {
    text-align: center;
}

.box-shadow {
    box-shadow: 0 1rem 1.5rem -1rem ($color-black);
}