.auth {
    position: fixed;
    background: rgba($color-offwhite, .6);
    height: 100vh;
    width: 100vw;
    z-index: 4000;

    &-modal {
        height: 30rem;
        width: 30rem;
        position: relative;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-white;
        box-shadow: 0 6px 1.3rem -2px ($color-black);

        &-close {
            display: inline-block;
            position: relative;
            top: 1rem;
            left: 1rem;
            font-size: 1.8rem;
        }
        
    }

    &-head {
        font-size: 1.6rem;
    }

    &-error {
        background-color: $color-error;
        padding: 1rem; 
        font-size: 12px;
    }

    &-toggle-buttons {
        font-size: 2rem;
        position: relative;
        display: inline-block;
        top: 3rem;
        left: 50%; 
        transform: translateX(-50%);

        &-login,
        &-signup {
            padding: .7rem 1.5rem;
            border: 1px solid $color-grey-dark
        }

        &-show-grey {
            background-color: $color-grey-light;
        }
    }

    &-form {
         position: relative;
        display: inline-block;
        top: 6rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        &-inputflex {
            display: flex;
        }

        &-input {
            width: 15rem;
            height: 1.5rem;
            margin: 1rem;
            padding: 3px;
        }

        &-input-signup {
            width: 10rem;
            height: 1.5rem;
            margin: 1rem;
            padding: 3px;
        }

    }
}