$color-grey-light: #999;
$color-grey-dark: #666;
$color-font-main: #333;
$color-offwhite: rgb(224, 224, 224);
$color-white: white;
$color-black: black;


$font-size-small: 1.2rem;
$font-size-medium: 1.6rem;
$font-size-large: 2rem;