.auth {
    position: fixed;
    background: rgba($color-offwhite, .6);
    height: 100vh;
    width: 100vw;
    z-index: 4000;

    &-modal {
        height: 80%;
        width: 50%;
        position: relative;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-white;
        box-shadow: 0 6px 1.3rem -2px ($color-black);

        &-close {
            display: inline-block;
            position: relative;
            top: 1rem;
            left: 1rem;
            font-size: 1.8rem;
        }
        
    }

    &-head {
        font-size: 1.6rem;
    }

    &-or {
        font-size: 14px;
        font-weight: 300;
        position: absolute;
        top: 3.5rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &-login-formbutton {
        width: 10rem;
        position: absolute;
        top: -3rem;
        left: -14%;
    }

    &-login-button {
        width: 10rem;
        position: absolute;
        top: 3rem;
        left: 14%;
    }

    &-signup-formbutton {
        width: 10rem;
        position: absolute;
        top: -3rem;
        left: 60%;
    }

    &-signup-button {
        width: 10rem;
        position: absolute;
        top: 3rem;
        left: 55%;
    }

    &-form {
        display: inline-block;
        position: absolute;
        top: 6rem;
        left: 50%;
        transform: translateX(-50%);

        &-inputflex {
            display: flex;
        }

        &-input {
            width: 15rem;
            height: 1.5rem;
            margin: 1rem;
            padding: 3px;
        }

        &-input-signup {
            width: 10rem;
            height: 1.5rem;
            margin: 1rem;
            padding: 3px;
        }

    }
}