@import '../variables/variables';

.footer {
    font-size: 16px;
    
    display: flex;
    justify-content: space-around;
    border: 1px solid $color-grey-dark;
    width: 80%;
    margin-bottom: 1rem;
    height: 5rem;

    &-link {
        position: relative;
        top: 50%;
        transform: translateY(-10%);
    }

    & a,
    & a:link,
    & a:visited {
        text-decoration: none;
        color: $color-font-main;
    }
}