@import '../variables/variables';

.nav {

    height: 7rem;
    border-bottom: 1px solid $color-grey-light;
    display: flex;

    @media screen and (max-width: 800px ) {
        display: block;
    }

    &-header {
        position: relative;
        top: 2rem;
        left: 4rem;
        font-size: $font-size-large;
        font-weight: 300;
        text-decoration: none;

        @media screen and (max-width: 800px ) {
            display: inline-block;
            left: 50%;
            transform: translateX(-50%);
        }

        & a:link,
        & a:visited {
            color: $color-font-main;
            text-decoration: none;
        }
    }

    &-content {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 3.3rem;
        right: 4rem;
        font-size: 16px;

        @media screen and (max-width: 800px ) {
            width: 100%;
            top: 5rem;
            left: 50%;
            transform: translateX(-50%);
        }

        &-create-post {
            position: relative;
            top: -.5rem;
            margin-right: 2rem;

            @media screen and (max-width: 800px ) {
                padding: 3px .5rem;
                top: -3px;
            }
        }

        &-profile {
            margin-right: 2rem;

        }
    }
}