*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html, 
body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-weight: 400;
    color: #333;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1 0 auto;
    width: 100%;
    margin-bottom: 8rem;
}

.site-content:after {
    content: ‘\00a0’;
    display: block;
    height: 0;
    visibility: hidden;
}

.containers {
    position: relative;
    top: 3rem;
    min-height: 15rem;
}